#returnErrorButton{
    margin-top: 10vh;
    margin-left: 30%;
    background-image: linear-gradient(to left, rgba(128,153,37,1), rgba(97,126,28,1), rgba(81,112,24,1));
    color: white;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
}
#viewError{
    color: white;
    height: 601px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(200,216,58,1) 0%, rgba(128,153,37,1) 30.8%, rgba(97,126,28,1) 46.2%, rgba(81,112,24,1) 61.6%, rgba(66,99,20,0.7) 69.3%, rgba(20,23,6,0.3) 77%,rgba(255,255,255,0) 100%);
}

#imgError404{
    height: 601px;
    padding-right: 0px;
    margin-right: 0px;
    background-image: url("/assets/images/error404.png");
    background-repeat: no-repeat;
    background-position: right;
}

#infoError{
    margin-right: 25%;
    margin-top: 15vh;
    text-align: center;
    white-space: pre;
    font-family: 'Axure Handwriting Bold', 'Axure Handwriting Regular', 'Axure Handwriting';
    word-wrap: break-word;
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
}