<ng-container>
    <div class="row" >
        <div class="col-lg-12">
            <form [formGroup]="form">
                <div class="form-group row">
                    <label for="1" class="col-lg-6 col-form-label athena"> CR attendu</label>
                    <div class="col-sm-16">
                    <div class="form-check checkBoxPosition">                  
                        <input class="form-check-input athena" formControlName="billReport" type="checkbox" id="crAttenduId">
                        <label class="form-check-label athena" for="crAttenduId" ></label>                          
                    </div>
                    </div>
                </div>

                    <div class="form-group row">
                        <label class="col-lg-6 col-form-label athena"> Facture électronique* </label>
                        <div class="col-sm-20 col-lg-12">
                            <select class="form-control athena ng-pristine ng-invalid ng-touched" formControlName="facture">
                                <option value= "NON">Non</option>
                                <option value= "OUI">Oui</option>
                            </select>
                        </div>          
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-6 col-form-label athena"> Envoi papier* </label>
            
                        <div class="col-sm-20 col-lg-12">
                            <div class="form-check">
                                <input class="form-check-input athena" id="auto" name="typeEnvoi" 
                                type="radio" [checked]="true" formControlName="typeEnvoi" value="PAPIER_AUTO"/>
                                <label class="form-check-label athena" for="auto"> Auto </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input athena" id="manuel" value="MANUEL" 
                                name="typeEnvoi" type="radio"  formControlName="typeEnvoi"/>
                                <label class="form-check-label athena" for="manuel"> Manuel</label>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <ng-container>
                            <div class="form-group row">
                                <label class="col-lg-6 col-form-label athena"> Nom* </label>
                                <div class="col-sm-20 col-lg-9">
                                    <input formControlName="nomInter" readonly class="athena form-control ng-pristine ng-valid ng-touched" type="text" />
                                </div>
                            </div>

                            <div  class="form-group row">
                                <label class="col-lg-6 col-form-label athena"> Mail* </label>
                                <div class="col-sm-20 col-lg-12">
                                    <input formControlName="mail" readonly class="athena form-control ng-pristine ng-valid ng-touched" type="text" />
                                </div>
                            </div>
                        </ng-container>
                        <ng-template>
                            <p class="red">Ce client ne possède aucune adresse mail de facturation</p>
                        </ng-template>
                    </div>
                

                <div class="form-group row">
                    <label class="col-lg-6 col-form-label athena"> Type de contrat</label>
                    <div class="col-sm-20 col-lg-12">
                        <select class="form-control athena ng-pristine ng-invalid ng-touched"
                        formControlName="typology">
                            <option  [value]="null">
                                -
                            </option>
                        </select>
                    </div>          
                </div>
                <div class="form-group row" >
                    <label class="col-lg-6 col-form-label athena">Délai de facturation</label>
                    <div class="col-4">
                        <select class="form-control athena ng-pristine ng-invalid ng-touched"
                        formControlName="billingTime" >
                            <option  value="8">
                                J + 8
                            </option>
                            <option  value="15">
                                J + 15
                            </option>
                            <option  value="22">
                                J + 22
                            </option> 
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="mediaSelect" class="col-6 col-form-label athena">Civilité</label>
                    <div class="col-15">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="title" id="optionSociete" value="PM" [checked]="true">
                            <label class="form-check-label" for="optionSociete"> Société </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="title" id="optionMadame" value="MME">
                            <label class="form-check-label" for="optionMadame"> Madame </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="title" id="optionMonsieur" value="MR">
                            <label class="form-check-label" for="optionMonsieur"> Monsieur </label>
                        </div>

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-6 col-form-label athena"> Raison sociale*</label>
                    <div class="col-sm-20 col-lg-12">
                        <div class="d-flex block-info-cri">
                            <input formControlName="society"
                            class="col-lg-24 athena form-control error ng-pristine ng-valid ng-touched"
                            type="text" />
                            <div class="col-sm-1 mt-2 athena">
                                <span class="icon status-exclamation"></span>
                            </div>
                        </div>
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-6 col-form-label athena"> Nom<span>*</span></label>
                    <div class="col-sm-20 col-lg-12">
                        <div class="d-flex block-info-cri">
                            <input formControlName="lastName" 
                            class="col-lg-24 athena form-control error ng-pristine ng-valid ng-touched"
                            type="text" />
                            <div class="col-sm-1 mt-2 athena">
                                <span class="icon  status-exclamation"></span>
                            </div>
                        </div>
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-6 col-form-label athena"> Prénom<span>*</span></label>
                    <div class="col-sm-20 col-lg-12">
                        <div class="d-flex block-info-cri">
                        <input formControlName="firstName" 
                        class="col-lg-24 athena form-control error ng-pristine ng-valid ng-touched" 
                            type="text" />
                        <div class="col-sm-1 mt-2 athena">
                            <span class="icon status-exclamation"></span>
                        </div>
                        </div>
                        <mat-error>Ce champ est obligatoire</mat-error>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-6  col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input athena"  
                            type="checkbox" id="frenchAddress" formControlName="isFrenchAddress">
                            <label class="form-check-label" for="frenchAddress"> Adresse française </label>
                        </div>
                    </div>
                    
                </div>
                <div class="form-group row">
                    <label class="col-lg-6 col-form-label athena"> Adresse*</label>
                    <div class="col-sm-20 col-lg-12">
                            <div class="d-flex block-info-cri noborder">
                                <mat-form-field class="p-0 col-sm-24 error" appearance="outline">
                                    <input type="text" matInput placeholder="Ex: 12 bis rue campagne première 75014 Paris"
                                    formControlName="addressFrench">
                                    <mat-autocomplete> 
                                        <ng-template>
                                            <mat-option value="null" >
                                                -
                                            </mat-option>
                                        </ng-template>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div class="col-sm-1 mt-2 athena">
                                    <span class="icon status-exclamation"></span>
                                </div>
                            </div>
                            <mat-error>
                                L’adresse n’est pas connue par ORAS, veuillez sélectionner une des adresses proposées. 
                                Si vous souhaitez conserver votre adresse décocher la case "Adresse Française" pour effectuer votre saisie.
                            </mat-error>
                            <mat-error>
                                Ce champ est obligatoire
                            </mat-error>
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label  class=" col-lg-6  col-form-label athena ">Pays*</label>
                        <div class="col-lg-12">
                            <div class="d-flex block-info-cri noborder">
                                <mat-form-field  class="col-sm-24  error" appearance="outline">
                                    <input type="text" class="col-lg-24 form-control athena error" matInput formControlName="country" >
                                    <mat-autocomplete>
                                        <mat-option value="null" >
                                            -
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div class="col-sm-1 mt-2 athena">
                                    <span class="icon status-exclamation"></span>
                                </div>
                            </div>
                            <mat-error>
                                Ce champ est obligatoire
                            </mat-error>
                        </div>   
                    </div>
                    <div class="form-group row">
                        <label  class=" col-lg-6  col-form-label athena ">Code postal<span>*</span></label>
                        <div class="col-lg-12">
                            <div class="d-flex">
                                <input formControlName="zipCode" class="col-lg-24 form-control athena error"  type="text"/>
                                <div class="col-sm-1 mt-2 athena">
                                    <span class="icon status-exclamation"></span>
                                </div>
                            </div>
                            <mat-error>
                                Ce champ est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label  class=" col-lg-6 col-form-label athena ">Ville<span>*</span></label>
                        <div class="col-lg-12">
                            <div class="d-flex">
                                <input formControlName="city" class="col-lg-24 form-control athena error" type="text"/>
                                <div class="col-sm-1 mt-2 athena">
                                    <span class="icon  status-exclamation"></span>
                                </div>
                            </div>
                            <mat-error>
                                Ce champ est obligatoire
                            </mat-error>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label  class=" col-lg-6 col-form-label athena ">Adresse*</label>
                        <div class="col-lg-12">
                            <div class="d-flex block-info-cri">
                                <input maxlength="38" formControlName="address4" class="col-lg-24 form-control athena error" type="text"/>
                                <div class="col-sm-1 mt-2 athena">
                                <span class="icon status-exclamation"></span>
                                </div>
                            </div>
                            <mat-error>
                                Ce champ est obligatoire
                            </mat-error>
                        </div>
                    </div>
                <div class="form-group row">
                    <label class="col-lg-6 col-form-label athena"> Appt / Etage (A)</label>
                    <div class="col-sm-20 col-lg-12">
                        <input maxlength="38" formControlName="address2" class="athena form-control ng-pristine ng-valid ng-touched" type="text" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-6 col-form-label athena"> Bâtiment (B)</label>
                    <div class="col-sm-20 col-lg-12">
                        <input maxlength="38" formControlName="address3" class="athena form-control ng-pristine ng-valid ng-touched" type="text" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-6 col-form-label athena"> Boite postale</label>
                    <div class="col-sm-20 col-lg-12">
                        <input maxlength="38" formControlName="address5" class="athena form-control ng-pristine ng-valid ng-touched" type="text" />
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-6 col-form-label athena"> Infos supplémentaires pour livraison</label>
                    <div class="col-sm-20 col-lg-12">
                        <input maxlength="38" formControlName="deliveryInfo" class="athena form-control ng-pristine ng-valid ng-touched" type="text" />
                    </div>
                </div>
            </form>
        </div>
    </div>
        <!-- buttons-->
        <div class="row control-buttons pl-8">
            <div class="col-sm-2 text-right">
                <a class="btn btn-link mt-1 athena" queryParamsHandling="merge" (click)="onCancel()" >Annuler</a>
            </div>
            <div class="col-sm-6">
                <input type="button"  class="btn btn-green athena"  value="Enregistrer"  (click)="onSave()" />
            </div>
        </div>
    <div *ngIf="!isPenicheUp">
        <p class="text-danger athena">
            <span class="icon lightning athena"></span> Données manquantes. Connexion à Péniche perdue.
            <a class="athena" href="#" 
            target="_blank" style="padding-left: 10px;" rel="noopener noreferrer">
            Signaler au support <span class="icon icon-min arrow-right-blue athena"></span>
            </a>
        </p>
    </div>
</ng-container>
