<div class="block block-shadow">
  <h2 *ngIf="!closerOutsideProcess" class="block-title athena">
    2 - CLÔTURE DE LA DEMANDE
  </h2>
  <h2 *ngIf="closerOutsideProcess" class="block-title athena">
     CLÔTURE DE LA DEMANDE
  </h2>
  
  <!-- alert message-->
  <div class="row" *ngIf="invalidResolution">
    <div class="block block-alert col-9">
      <table
        class="table table-not-bordered athena"
        style="margin-bottom: 0 !important;" aria-describedby="">
        <th id="th"></th>
        <tr>
          <td class="alert-icon align-middle">
            <span class="icon icon-max status-exclamation-white"></span>
          </td>
          <td class="alert-text">
            <strong>Ce formulaire n’est pas correctement renseigné</strong
            ><br />
            <span>- Le champ résolution est obligatoire</span><br />
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- end alert message-->
  <form
    [formGroup]="requestClosure"
    #ngForm="ngForm"
    (ngSubmit)="onCloseImmediately()"
  >
    <div class="form-group row">
      <label for="traiteSelect" class="col-sm-3 col-form-label athena"
        >Résolution*
      </label>
      <div [ngClass]="(isClosureTask) ? ['col-sm-18'] : ['col-sm-12']">
        <select
          name="resolution"
          class="form-control athena"
          id="traiteSelect"
          formControlName="resolution"
          (change)="onChangeResolutionValue()"
        >
          <option [ngValue]="null" disabled>--</option>
          <option value="OK">OK</option>
          <option value="KO">KO</option>
          <option value="Annulée">Annulée</option>
        </select>
        <span
        *ngIf="
          requestClosure.controls.resolution.value == null && ngForm.submitted
        "
        class="icon col-sm-1 mt-1 status-exclamation athena"
      ></span>
        <div
          *ngIf="
            requestClosure.controls.resolution.value == null && ngForm.submitted
          "
          [ngClass]="'required'"
        >
          Ce champ est obligatoire
        </div>

      </div>
    </div>
    <div class="form-group row">
      <label for="start" class="col-sm-3 col-form-label mt-1 athena">Date de fin réelle*</label>
      <mat-form-field [ngClass]="(isClosureTask) ? 'col-sm-3' : 'col-sm-2'" appearance="outline">
        <input
          class="athena"
          matInput
          required
          formControlName="echeanceDate"
          [matDatepicker]="picker"
          placeholder=""
        />
        <mat-datepicker #picker></mat-datepicker>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
      <span
        class="col-sm-1 col-form-label mt-2 ml-n1 icon calendar-grey clickable athena"
        (click)="picker.open()"
      ></span>
      <label class="athena" for="start" [ngClass]="(isClosureTask) ? 'col-form-label mt-1 mr-1' : 'offset-sm-1 col-sm-0 col-form-label mt-1 mr-1'">
        à
      </label>
      <div [ngClass]="(isClosureTask) ? 'col-sm-3 ' : 'col-sm-2'">
        <app-athena-timer
          (selectTime)="onChangeTimeRealEnd($event)"
          [defaultHour]="defaultRealEndHours"
          [defaultMinute]="defaultRealEndMinute"
        ></app-athena-timer>
      </div>
    </div>
    <div class="form-group row">
      <label for="commentaireTextarea" class="col-sm-3 col-form-label athena"
        >Commentaire</label
      >
      <div [ngClass]="(isClosureTask) ? 'col-sm-18' : 'col-sm-12'">
        <textarea
          class="form-control athena"
          formControlName="comment"
          id="commentaireTextarea"
          rows="4"
        ></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
        <a
          class="btn btn-link athena"
         [routerLink]="null"
          (click)="annuler()"
          queryParamsHandling="merge"
          >Annuler</a
        >
      </div>
      <div class="col-sm-4">
        <input
          class="btn btn-green athena"
          value="Je clôture la demande"
          type="submit"
          [disabled]="!isValid"
        />
      </div>
    </div>
  </form>
</div>
