<div class="profil" >
    <div class="row">
        <div class="col-lg-8">
            <div class="block-2">
                <div class="row">
                    <div class="col-lg-7 p-0">
                        <img class="img-fluid maxProfilePicture" [src]="photo" alt="profile" />
                    </div>
                    <div class="col-lg-17 pl-2">
                        <div><span class="grey athena">Raison sociale : </span>{{person?.companyName ? person?.companyName : ' -'}}</div>
                        <div><span class="grey athena">Nom interne : </span>{{person?.crmName ? person?.crmName : ' -'}}</div>
                        <div><span class="grey athena">SIREN : </span>{{person?.siret ? person?.siret : ' -'}}</div>
                        <div><span class="grey athena">Secteur d'activité : </span>{{person?.refSocioEconomicGroup?.label ? person?.refSocioEconomicGroup?.label : ' -'}}</div>
                        <div><span class="grey athena">Client OBS : </span>{{person?.obsType ? person?.obsType?.label : ' -'}}</div>
                        <div><span class="grey athena">Infos gestionnaire OBS : </span>{{person?.obscomment ? person?.obscomment : ' -'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngxPermissionsOnly="['modification_profil']" class="row mt-5 mb-2 justify-content-center">
        <button class="col-form-label btn btn-blue mt-2" (click)="onUpdateProfilEntreprise()" ><span class="icon pen-white d-block btn-modifie"></span>Modifier</button>
    </div>
</div>