.radio-checked {
    background-color: transparent;
	background-image: url(../../../../../../assets/images/radio-bouton-on.svg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    height: 18px;
    opacity: 0.87;
    width: 18px;
    display: inline-block;
}