.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #e9ecef;
}

::ng-deep .disabled-bg .mat-checkbox-background{
    pointer-events: none;
    cursor: not-allowed;
    border: 1px solid #dadada;
    background-color: #e9ecef !important;
}