@import '~src/styles/charte';

section {
   // height: 100%;
   
    background-color: $white;
}
.b-message{
    padding: 0 50px;
    .container-logo {
        .logo-athena {
            height: 50px;
            background-position: left;     
        }
        .logo-subtitle {
            font-size: 13px;
            color: $grey;
        }
    }
    h2 {
        margin-top: 20px;
        font-family: $font-family-regular;
    }
}

.b-image{
    height: calc(100vh - 56px);
    width: 100%;
    .image-background {
        width: 100%;
        max-height: 100%;
        height: auto;
    }
}