<ag-grid-angular  
    #agGrid
    id="myGrid"
    class="ag-theme-material"
    rowHeight="30"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [masterDetail]="true"
    [detailCellRendererParams]="detailCellRendererParams"
    [detailRowHeight]="detailRowHeight"
    [getRowHeight]="getRowHeight"
    [rowData]="rowData"
    [debug]="false"
    [rowSelection]="rowSelection"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [suppressPaginationPanel]="true"
    [suppressScrollOnNewData]="true"
    [context]="context"
    [frameworkComponents]="frameworkComponents"
    [domLayout]="domLayout"
    [animateRows]="true"
    [rowStyle]="rowStyle"
    [rowDragManaged]="true"
    [icons]="icons"
    [headerHeight]="headerHeight"
    [multiSortKey]="multiSortKey"
    [accentedSort]="true"
    [singleClickEdit]="true"
    [overlayNoRowsTemplate]="'<span></span>'"
    [masterDetail]="masterDetail"
    [detailCellRenderer]="detailCellRenderer"
    [suppressRowClickSelection]="suppressRowClickSelection"
    [treeData]="treeData"
    [getDataPath]="getDataPath"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [suppressMoveWhenRowDragging]="suppressMoveWhenRowDragging"
    [rowMultiSelectWithClick]="true"
    [stopEditingWhenGridLosesFocus]="true"
    [isRowMaster]="isRowMaster"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (onCellClicked)="onCellClicked($event)"
    (paginationChanged)="onPaginationChanged($event)"
    (cellClicked)="onCellClicked($event)"
    (columnResized)="onColumnResized($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    (rowDragEnd)="onRowDragEnd($event)"
    >
</ag-grid-angular>
