@import '~src/styles/charte';
.fileDropProfile { 
    min-height: auto !important; 
    border: 1px dashed #dadada; 
    border-radius: 0px; 
    font-family: $font-family-regular; 
    font-size: $font-size-text; 
    color:$black; 
    width: 282px;
    .fileinter { 
        min-width: 260px !important 
    } 
} 
.maxProfilePicture {
width: 100px;
height: 100px;
}






table {
    border-collapse:separate; 
    border-spacing:0 10px;
    margin-left: 1em;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #e9ecef;
}


