.hidden-link {
    color: black;
    text-transform: capitalize;
}

.disabledHref {
    pointer-events: none;
}

.disabled-underline {
    text-decoration: none;
    cursor: default;
}

.enabled-underline {
    text-decoration: underline;
    cursor: pointer;
}