
<div id="body" class="container-fluid error-page ">
	<div class="row">
		<div class="col-lg-24">
			<div class="middle-container">
				<div class="middle-content">
					<div class="text-center">
						<p><span class="text-title"><strong>Le document &laquo; {{ fileName }} &raquo; ne peut être chargé.</strong></span><br />
						<span class="text-giant"><i>(Erreur 500)</i></span></p>
						<p class="text-giant">Signalez cette anomalie à l'équipe support en <a href="{{jiraUrl}}" target="_blank" rel="noopener noreferrer">ouvrant un ticket Jira</a>.</p>
					</div>
				</div>
				<p class="middle-content-back"><span class="link" (click)="navigateBack()"><span class="icon icon-min arrow-left-blue"></span>Page précédente</span>
			</div>
		</div>
	</div>
</div>

  
