@import '../../../../styles/charte.scss';
:host {
	display: contents;
	top: 0;
	flex-grow: 1;
}

.navbar-search-container {
	padding-top: 10px;
	padding-bottom: 10px;
	flex-grow: 1;
	.navbar-search-input {
		width: calc(100% - 130px);
		border: none;
		padding-left: 20px;
	}
}

//FIXME En attente d'une solution pour remplacer la fonction
// deep qui est devenu obsolete dans les nouvelles versions
// Angular
::ng-deep .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: block;
	float: left;
	min-width: 100.5% !important;
	padding: 0.5rem 0;
	margin: 0.125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

//FIXME En attente d'une solution pour remplacer la fonction
// deep qui est devenu obsolete dans les nouvelles versions
// Angular
::ng-deep .dropdown-item {
	display: block;
	width: 100%;
	padding: 0rem 0rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

::ng-deep .like-a-href {
	cursor: pointer !important;
	color: #479aef;
	text-decoration: underline;
}

.line {
	border-bottom: solid 0.05em #dadada;
}

.item-font-size {
	font-size: 12px;
}

::ng-deep ngb-typeahead-window[style] {
	top: 93% !important;
	left: 0px !important;
	transform: translate(0px, 0px) !important;
	//cursor: pointer !important;
}

::ng-deep button[id^='ngb-typeahead-0-'] {
	cursor: pointer !important;
}

/** /deep/ button[id="ngb-typeahead-0-10"] {
  cursor: default !important;
}*/

::ng-deep .dropdown-item.active,
.dropdown-item:active {
	color: black !important;
	text-decoration: none;
	background-color: #ebf0f8 !important;
	background-image: url('../../../../assets/images/loupe.svg');
	background-repeat: no-repeat;
	background-position: 97% 50%;
}

::ng-deep button[id='ngb-typeahead-0-10'].dropdown-item.active,
button[id='ngb-typeahead-0-10'].dropdown-item:active {
	color: black !important;
	text-decoration: none;
	background-color: #ebf0f8 !important;
	background-image: none;
}

::ng-deep .selected {
	color: red;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.highLight {
	color: red;
	background-color: #479aef;
}

.nicheIdentifierAndStatus{
	color: #a0a0a0;font-style: italic;
}

::ng-deep {
	.mat-button {
	  &:hover {
		background: none;
	  }
	}
	.mat-button-focus-overlay {
	  background-color: transparent;
	}
	.mat-button-wrapper {
	  font-family: $font-family-strong;
	  font-size: $font-size;
	}
	.block-bill {
	  .mat-button {
		max-width: 210px;
		width: 210px;
		text-align: left;
	  }
	  button {
		&:focus {
		  outline: none !important;
		}
	  }
	}
	.mat-menu-panel {
	  border-radius: 0px !important;
	  width: 250px;
	  min-height: 58px !important;
	  padding-top: 4px;
	  margin-top: 10px;
	  .mat-menu-item {
		font-family: $font-family-strong !important;
		font-size: $font-size;
	  }
	}
	}
	
	/* override pl-4's default value (2rem instead of 1.5rem)*/
	.pl-4-2 {
    padding-left: 2rem !important;
	}

	.rowsuggestionproduct{
		width: 423px;
	}

	.labelandserial {
		white-space: normal; 
		width: 404px !important;
	}