@import '../../../../../styles/charte';

.ag-theme-material .ag-header-cell {
	white-space: normal;
	&[col-id="portail"]{
		.ag-header-cell-label {
			text-align: center !important;
			align-items: center;
			justify-content: center;
		}
	}
}