<div #myDiv class="block block-shadow enableNewLine">
    <blockquote>
        <h4 class="subtitle athena">Résumé de la demande {{  detailRequest?.idRequest }}
            <ng-container *ngxPermissionsOnly="['modification_demandes']">
            <a *ngIf="isDetailRequestReady && !fromChorniche" class="block-title-item-link athena" [routerLink]="['/customer-dashboard', customerId, 'detail', 'request', detailRequest?.idRequest, 'update-request']"
            queryParamsHandling="merge" >
             <div  class="block-title-item-icon" *ngIf="!isClosedRequest">
                  <span class="icon pen athena"></span>
                </div>
            </a>
            </ng-container>
            <ng-container *ngxPermissionsOnly="['cloturer_demandes']">
                <a *ngIf="isDetailRequestReady  && !fromChorniche" class="block-title-item-link athena"[routerLink]=" ['/customer-dashboard', this.customerId, 'request', detailRequest?.idRequest, 'closure-request' ]" 
                queryParamsHandling="merge" >
                <div *ngIf="isClosed && (isBackup || isEligibleToClose) && !isClosedRequest " class="block-title-item-icon">
                    <span class=" icon key "></span>
                </div>
            </a>
            </ng-container>
            <ng-container *ngxPermissionsOnly="['reouvrir_demandes']">
            <a *ngIf="isDetailRequestReady && !fromChorniche" class="block-title-item-link athena" 
            queryParamsHandling="merge" >
            <div *ngIf="isClosedRequest && isEligibleToReOpen" class="block-title-item-icon" >
                <span class=" icon re-open clickable" (click)="reOpenRequestDialog($event)"></span>
            </div>
            </a>
            </ng-container>
            <a *ngIf="showIconeCatalog() && !fromChorniche" class="block-title-item-link athena" queryParamsHandling="merge" >
                <div class="block-title-item-icon" >
                    <span class="icon cart-grey-normal clickable" (click)="showCatalog($event)"></span>
                </div>
            </a>
        </h4>
    <strong><span class=" athena">Statut : </span></strong>{{statut}}<br />
    <strong><span class=" athena">Créée le : </span></strong>{{ (!detailRequest?.createdAt) ? '-' :  detailRequest?.createdAt | dateFormatPipeFrench}}  à
            {{ (!detailRequest?.createdAt) ? '-' : detailRequest?.createdAt | date:"HH'h'mm" }}<br />   
    <strong><span class=" athena">Modifiée le : </span></strong>{{ (!detailRequest?.modifier) ? '-' : detailRequest?.modifier | dateFormatPipeFrench }}  à
            {{ (!detailRequest?.modifier) ? '-' : detailRequest?.modifier | date:"HH'h'mm" }}<br />
    <strong>    <span class=" athena">Interlocuteur : </span>
    </strong>{{ (!detailRequest?.firstNameInterlocuteur) ? '-' : detailRequest?.firstNameInterlocuteur | firstName}}  
            {{ (!detailRequest?.lastNameInterlocuteur) ? '' : detailRequest?.lastNameInterlocuteur |  uppercase }}<br />
    <strong><span class=" athena">Destinataire : </span> </strong>{{ (!detailRequest?.firstNameDestinataire) ? '-' : detailRequest?.firstNameDestinataire | firstName}}  
            {{ (!detailRequest?.lastNameDestinataire) ? '' : detailRequest?.lastNameDestinataire |  uppercase }}<br />
       
    <strong><span class=" athena">Porteur : </span></strong>{{ (!detailRequest?.lastNamePorteur) ? '' : detailRequest?.lastNamePorteur |  uppercase }}
            {{ (!detailRequest?.firstNamePorteur) ? '-' : detailRequest?.firstNamePorteur | firstName}}<br />
    <strong><span class=" athena">Responsable commercial : </span></strong>{{ (!detailRequest?.lastNameRespCommerciale) ? '' : detailRequest?.lastNameRespCommerciale |  uppercase }}
            {{ (!detailRequest?.firstNameRespCommerciale) ? '-' : detailRequest?.firstNameRespCommerciale | firstName}}<br />
    <strong><span class=" athena">Responsable d'affaires : </span></strong>{{ (!detailRequest?.lastNameRespAffaire) ? '' : detailRequest?.lastNameRespAffaire |  uppercase }}
            {{ (!detailRequest?.firstNameRespAffaire) ? '-' : detailRequest?.firstNameRespAffaire | firstName}}<br />
    <strong><span class=" athena">Traitement : </span></strong> <span style="white-space: normal" *ngFor="let answer of listAnswers; let i=index">
               {{ formatAnwser(answer) }}<br /></span> <span *ngIf="!listAnswers || listAnswers.length===0" > - <br/></span>
      
        <div class="ex1" style="width: 350px ; height: 50px;"  *ngIf="!seeall && isPanier && blocWidth ">
    <strong><span   class=" athena " > Description :</span></strong> 
                <span class="ex1" style="white-space: normal "> {{ (!detailRequest?.description) ? '-' : detailRequest?.description}}<br/>
                 </span>
                 <ng-template [ngIf]="detailRequest?.statuts !== 'PENDING'">
                    <span class="grey athena " > Résolution :</span>    
                    <span > <strong> {{ detailRequest?.conclusionType | isNull | resolutionRequest}}</strong><br/>
                    </span> 
                    <span class="grey athena " > Date de fin réelle :</span>    
                    <span > <strong> {{ detailRequest?.realEndDate | isNull | dateFormatPipeFrench}} {{ (detailRequest?.realEndDate) ? 'à' : ''}} {{ detailRequest?.realEndDate | date:"HH'h'mm" }} </strong><br/></span>
                    <span class="grey athena " > Commentaire :</span>    
                    <span > <strong> {{ detailRequest?.closureComment |isNull}}</strong><br/>
                    </span>
                </ng-template>
        </div>
        
        <ng-template [ngIf]="seeall  || !isPanier || !blocWidth">
            <strong><span class="athena " > Description :</span></strong>
            <span style="white-space: pre-wrap "  > {{ (!detailRequest?.description) ? '-' : detailRequest?.description}}<br/> </span> 
            <ng-template [ngIf]="detailRequest?.statuts !== 'PENDING'">
                <span class="grey athena " > Résolution :</span>    
                <span > <strong> {{ detailRequest?.conclusionType | isNull | resolutionRequest}}</strong><br/>
                </span> 
                <span class="grey athena " > Date de fin réelle :</span>    
                <span > <strong> {{ detailRequest?.realEndDate | isNull | dateFormatPipeFrench}} {{ (detailRequest?.realEndDate) ? 'à' : ''}} {{ detailRequest?.realEndDate | date:"HH'h'mm" }} </strong> <br/>
                </span>
                <span class="grey athena " > Commentaire :</span>    
                <span > <strong> {{ detailRequest?.closureComment |isNull}}</strong><br/>
                </span>
            </ng-template>
        </ng-template>
        
        <div  class="link row mt-2 " name="showField" ngDefaultControl [(ngModel)]="show" [hidden]="show === false " *ngIf="isPanier && blocWidth" >
            <hr class="col-4 col-md-5 col-lg-5 mr-2">
            <a class="athena col-12 col-md-11 col-lg-11 ml-2 p-0 text-center" (click)="onShow()">Voir la suite du résumé
                <span class="icon icon-min arrow-bottom-blue athena ml-1"></span></a>
                <!-- changer arrow-bottom-blue  par arrow-top-blue fleche en haut -->
                <hr class=" col-4 col-md-5 col-lg-5 ml-1 ">
            </div>

             <div   class="link row mt-2 " *ngIf="!show">
                <hr class="col-4 col-md-5 col-lg-5 mr-2">
                <a class="athena col-12 col-md-11 col-lg-11 ml-2 p-0 text-center" (click)="onHide()">Masquer la suite du résumé
                    <span class="icon icon-min arrow-top-blue athena ml-1"></span></a>
                    <hr class=" col-4 col-md-5 col-lg-5 ml-1 ">
                </div> 
            
    </blockquote>
</div>

<div *ngIf="isPanier"  class="block block-shadow pb-2">
    <div class="block_resume_panier p-0">
        <h2 class="athena">Panier (TTC)</h2>
        <div class="row">
            <div class="col-md-12 col-lg-24">
                <div class="red mt-2 mb-3 text-semibold" *ngIf="cartHasBlockedItem">Validation nécessaire</div>
                <app-basket-information
                    [cartStatusValue]="CartStatusValue[cart?.status]"
                    [cartLabel]="cartlabel"
                    [numberOfArticle]="numberOfArticle"
                    [calculateMargePourcent]="cart?.calculateMargePourcent"
                    [orderId]="cart?.orderId"
                    [cartTotal]="cartRecapVo?.cartTotal">
                </app-basket-information>
                <div class="d-flex justify-content-center">
                    <button class="col-form-label btn btn-blue" (click)="interClick()" [disabled]="fromChorniche">Voir le panier</button>
                </div>

                <div name="showField" ngDefaultControl [(ngModel)]="showCart" [hidden]="showCart === false" *ngIf="numberOfArticle > 0" class="link row mt-3">
                    <hr class="col-4 col-md-5 col-lg-5 mr-2" />
                    <a class="athena col-12 col-md-11 col-lg-11 ml-2 p-0 text-center" (click)="OnshowCart()">Voir le détail du panier <span class="icon icon-min arrow-bottom-blue athena ml-1"></span></a>
                    <!-- changer arrow-bottom-blue  par arrow-top-blue fleche en haut -->
                    <hr class="col-4 col-md-5 col-lg-5 ml-1" />
                </div>

                <div *ngIf="!showCart" class="link row mt-3">
                    <hr class="col-4 col-md-5 col-lg-5 mr-2" />
                    <a class="athena col-12 col-md-11 col-lg-11 ml-2 p-0 text-center"(click)="OnHideCart()">Masquer le détail du panier <span class="icon icon-min arrow-top-blue athena ml-1"></span></a>
                    <!-- changer arrow-bottom-blue  par arrow-top-blue fleche en haut -->
                    <hr class="col-4 col-md-5 col-lg-5 ml-1" />
                </div>

                <div  *ngIf="!showCart" class="block_recupilatif_panier">
                    <div class="d-flex justify-content-between line" *ngFor="let item of cartRecapItemsVo; let i=index">
                        <div> {{item.quantiteCartItem}} x {{item.labelCartItem}}</div>
                        <div class="price_space">{{item.totalePriceCartItem}} € </div>
                    </div>


                    <div class="d-flex justify-content-between line">
                        <div >Remise totale</div>
                        <div class="red"> 
                            {{(!cartRecapVo?.totalDiscount || cartRecapVo?.totalDiscount === 0 || cartRecapVo?.totalDiscount === '0' || cartRecapVo?.totalDiscount === '') ? '0' : '-' + cartRecapVo?.totalDiscount }} € 
                        </div>
                    </div>

                    <div class="d-flex justify-content-between line">
                        <div>Total mensuel</div>
                        <div>{{(!cartRecapVo?.monthlyTotal) ? '0' : cartRecapVo?.monthlyTotal }} €</div>
                    </div>

                    <div class="d-flex justify-content-between line">
                        <div>Total annuel</div>
                        <div>{{(!cartRecapVo?.annualTotal) ? '0' : cartRecapVo?.annualTotal }} €</div>
                    </div>

                    <div class="d-flex justify-content-between line">
                        <div>Total ponctuel</div>
                        <div >{{(!cartRecapVo?.punctualTotal) ? '0' : cartRecapVo?.punctualTotal }} €</div>

                    </div>

                    <div class="d-flex justify-content-between line font-weight-bold my-3 text-semibold">
                        <div>Total Panier</div>
                        <div >{{(!cartRecapVo?.cartTotal) ? '0' : cartRecapVo?.cartTotal }} €</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

