
   <form formGroupName="form" > 
<div class="bloc-necessaire">
    <div class="form-group row select_arrows mb-0">
        <label class="col-sm-4 col-form-label ng-invalidathena"> Demandeur<span class="red">*</span></label>
        <div class="col-sm-20 col-lg-9">
            <select   class="form-control athena ng-pristine ng-invalid ng-touched" 
             formControlName="requestercontroller" (change)='onChangeRequester($event)' 
             [ngClass]="[demandeurInvalid ? 'athena form-control error  ng-pristine ng-valid ng-touched' : 'athena form-control ng-pristine ng-valid ng-touched']">
                <option [ngValue]="null" disabled >--</option>
                <option *ngFor="let demandeur of listDemandeur"  [ngValue]="demandeur"  > {{demandeur.label}}</option>    
            </select>
        </div>
    </div><br>
    <div *ngIf="showPrecision" class="form-group row">
        <label class="col-sm-4 col-form-label athena"> Précision<span class="red">*</span></label>
        <div class="col-sm-20 col-lg-9">
            <input class="athena form-control ng-pristine ng-valid ng-touched" 
              type="text" formControlName="precision" [(ngModel)]="interventionReport.manualInitiatorIntervention"
              [ngClass]="[showPrecision && precisionDemandeurInvalid ? 'athena form-control error  ng-pristine ng-valid ng-touched' : 'athena form-control ng-pristine ng-valid ng-touched']">
        </div>
    </div>

    <div class="underline mt-4 mb-3">Contact et lieux d'intervention</div>

    <div class="form-group row select_arrows">
        <label class="col-form-label athena col-sm-4"> Qui est le contact ?</label>

        <div  class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input athena" id="coach" name="coach" type="radio" value="true"   [formControl]="contactController" 
                 [checked]= "coachChecked" (click)="cantactChange($event)"/>
                <label class="form-check-label athena" for="coach" > Le coach </label>
            </div>
            <div class="form-check">
                <input class="form-check-input athena" id="member" name="member" type="radio" value="false"  [formControl]="contactController" 
                 [checked]= "!coachChecked" (click)="cantactChange($event)"/>
                <label class="form-check-label athena" for="member"> Le membre</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label athena"> Nom<span class="red">*</span></label>
        <div class="col-sm-20 col-lg-9">
            <input class="athena form-control ng-pristine ng-valid ng-touched" [value]="(contactLastName)" type="text" formControlName="lastNameController"  
            [(ngModel)]="interventionReport.contactName" 
            [ngClass]="[cantactLNameInvalid ? 'athena form-control error  ng-pristine ng-valid ng-touched' : 'athena form-control ng-pristine ng-valid ng-touched']"/>
        </div>
      
    </div>
    <div class="form-group row">
        <label class="col-sm-4 col-form-label athena"> Prénom<span class="red">*</span></label>
        <div class="col-sm-20 col-lg-9">
            <input  class="athena form-control ng-pristine ng-valid ng-touched" type="text" [value]="(contactFirstName)"
          formControlName="firstNameController" [(ngModel)]="interventionReport.contactFirstName" 
          [ngClass]="[contactFNameInvalid ? 'athena form-control error  ng-pristine ng-valid ng-touched' : 'athena form-control ng-pristine ng-valid ng-touched']" />
        </div>
    </div>
    <div *ngIf="!coachChecked"  class="form-group row">
        <label class="col-sm-4 col-form-label athena">
            Mobile du contact <span class="red">*</span>
        </label>
        <div class="col-sm-20 col-lg-9">
            <input   [minlength]="1"  [maxlength]="20"
            type="text" class="form-control athena"
            [formControl]="parcPhoneController" 
            [ngClass]="[!coachChecked && parcTelInvalid ? 'error' : '']" 
            [matAutocomplete]="autoMobile"
            />
            <mat-autocomplete #autoMobile="matAutocomplete" [displayWith]="displayMobileContact" (optionSelected)='onChoosePhoneMobile($event.option.value)'>
                <mat-option *ngFor="let destinataire of filteredContactMobileList| async" [value]="destinataire">
                {{formatContactMobile(destinataire) }} 
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label athena">Info complémentaire</label>
        <div class="col-sm-20 col-lg-9">
            <textarea class="form-control athena ng-pristine ng-valid ng-touched" rows="5" formControlName="infoController" [(ngModel)]="interventionReport.otherInfoContact" ></textarea>
        </div>
    </div>

    <div class="form-group row inputstyle noborder">
        <label class="col-sm-4 col-form-label athena">Adresse<span class="red">*</span> </label>
        <div class="col-sm-20 col-lg-9">
            <mat-form-field  [ngClass]="[adresseInvalid ? 'large-chip-list error' : 'large-chip-list']"
             appearance="outline">
                <input type="text" formControlName="myControladd" matInput [matAutocomplete]="autoadd"  
                [ngClass]="[adresseInvalid ? 'error' : '']"/>
                <mat-autocomplete #autoadd="matAutocomplete">
                    <mat-option class="pl-0"  *ngFor="let rdv of adresseRdv" [value]="'Adresse '+rdv.types[0].label" (click)="onChoseAddress(rdv)" >
                        <div class="adress_bordure pr-0">
                            <p class="mb-2"> 
                                <strong> Adresse {{ rdv.types ? rdv.types[0].label:'' }}</strong> 
                            </p>
                            <p class="m-0 grey lowercase" *ngIf="rdv.companyName"> 
                                {{ rdv.companyName ? rdv.companyName:'' }} 
                            </p>
                            <p class="m-0 grey lowercase"> 
                                {{ rdv.addrLine2 ?  rdv.addrLine2:'' }}
                                {{ rdv.addrLine3 ?  rdv.addrLine3:'' }}
                                {{ rdv.logisticInfo ?  rdv.logisticInfo:'' }}
                                {{ rdv.addrLine4 ?  rdv.addrLine4:'' }}
                                {{ rdv.addrLine5 ?  rdv.addrLine5:'' }}
                            </p>
                            <p class="m-0 grey lowercase"> 
                                {{ rdv.postalCode ?  rdv.postalCode:'' }} {{ rdv.city ?  rdv.city:'' }} 
                            </p>
                        </div>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>
    <div class="form-group mb-2 row">
        <label class="col-sm-4 col-form-label athena"> </label>
        <div class="col-sm-10 mb-2">
            <span class="athena clickable link font-weight-bold"  (click)="openPopup()" > <span class="icon add d-inline-block mr-2 athena"> </span>Ajouter une adresse temporaire </span>
        </div>
    </div>

    <div class="underline mt-4 mb-3">Type de locaux</div>

    <div class="form-group row select_arrows">
        <label class="col-sm-4 col-form-label athena"> Type de logement <span class="red">*</span></label>
        <div class="col-sm-20 col-lg-9">
            <select  class="form-control athena ng-pristine ng-invalid ng-touched" 
            [ngClass]="[ typeLogInvalid ? 'athena form-control error  ng-pristine ng-valid ng-touched' : 'athena form-control ng-pristine ng-valid ng-touched']"
             formControlName="typeLogmentcontroller" (change)='onChangeLogement($event)'>
             >
             <option [value]="null" disabled >--</option>
                <option *ngFor="let housing of listHoussingType" [ngValue]="housing" > {{housing.label}}</option>    
            </select>
        </div>
    </div>
    <div *ngIf="precision" class="form-group row">
        <label class="col-sm-4 col-form-label athena"> Précision<span class="red">*</span></label>
        <div class="col-sm-20 col-lg-9">
            <input class="athena form-control ng-pristine ng-valid ng-touched" type="text" 
            formControlName="precisionControler" [(ngModel)]="interventionReport.precision" 
            [ngClass]="[precision && precisionTypeLogInvalid ? 'athena form-control error  ng-pristine ng-valid ng-touched' : 'athena form-control ng-pristine ng-valid ng-touched']" />
        </div>
    </div>

    <div class="form-group row select_arrows">
        <label class="col-form-label athena col-sm-4"> Superficie<span class="red">*</span></label>

        <div class="col-sm-4">
            <div class="form-check">
                <input  [ngClass]="[superfecieInvalid ? ' form-check-input athena error':'form-check-input athena']"
                 id="isAreaSupe"  type="radio" value="true" formControlName="superficieController" [checked]="isAreaSupe"  
                (click)="housingSuperficieChange($event)" 
                  />
       
                <label class="form-check-label athena" for="isAreaSupe"> Moins de 200m2</label>
            </div>
            <div class="form-check">
                <input [ngClass]="[superfecieInvalid ? ' form-check-input athena error':'form-check-input athena']"
                 id="isAreMine"  type="radio" value="false"
                  formControlName="superficieController" [checked]="isAreMine"   (click)="housingSuperficieChange($event)"/>
                <label class="form-check-label athena" for="isAreMine"> Plus de 200m2</label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label athena">Info complémentaire</label>
        <div class="col-sm-20 col-lg-9">
            <textarea class="form-control athena ng-pristine ng-valid ng-touched" rows="5" formControlName="complementController" [(ngModel)]="interventionReport.additionalInformation" ></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-form-label athena col-sm-4"> Travaux en cours</label>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input athena" id="workProgressTrue"  name ="workProgress" type="radio" value="true"  [checked]= "workProChecked"  
                  [formControl]="workProgress" (click)="progressWorkChange($event)"/>
                <label class="form-check-label athena" for="workProgressTrue"> Oui</label>
            </div>
            <div class="form-check">
                <input class="form-check-input athena" id="workProgressFalse" type="radio" name ="workProgress"  value="false" 
                 [checked]= "!workProChecked"   [formControl]="workProgress" (click)="progressWorkChange($event)"/>
                <label class="form-check-label athena" for="workProgressFalse">Non</label>
            </div>
        </div>
    </div>

    <div *ngIf="dateOfWork" class="form-group row">
        <label for="descriptionTextarea" class="col-sm-4 col-form-label athena">Description des travaux<span class="red">*</span></label>
        <div class="col-lg-9">
            <textarea  
            [ngClass]="[decriptionTraveauInvalid ? 'form-control athena error':'form-control athena']"
            id="descriptionTextarea" rows="5" formControlName="worKDescriptionController" [(ngModel)]="interventionReport.workDescription"></textarea>
        </div>
    </div>

    <div *ngIf="dateOfWork" class="form-group row">
        <label for="start athena" class="col-sm-4 col-form-label athena">Date de fin de travaux</label>
        <div class="col-sm-20 col-lg-12 m-0 p-0 d-flex">
            <mat-form-field  class ="col-lg-8 col-22 col-sm-23"
            appearance="outline">
                <input class="athena" [min]="rangeOfEndDate"  matInput [matDatepicker]="picker"  placeholder="" readonly
                [matDatepickerFilter]="filterDateBusiness" formControlName="DateController" [(ngModel)]="endWorkDate" (dateChange)="onSelectStartDate($event)">
                <mat-datepicker #picker ></mat-datepicker>
                <mat-datepicker #picker disabled="false"></mat-datepicker> 
            </mat-form-field>
            <div class="col-2 col-sm-6 mt-2 p-0">
                <span class=" ml-1 icon calendar-grey clickable athena" (click)="picker.open()" ></span>
            </div>
        </div>
    </div>



    <div class="form-group row">
        <label class="col-form-label athena col-sm-4"> Présence d'une alarme</label>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input athena" id="alarmeTrue" name ="alarme" 
                type="radio" value="true" [checked]= "alarmChecked || alarmPresence" [formControl]="alarme" 
                (click)="alarmeChange($event)" />
                <label class="form-check-label athena" for="alarmeTrue"> Oui</label>
            </div>
            <div class="form-check">
                <input class="form-check-input athena" id="alarmeFalse"  type="radio" 
                name ="alarme" [checked]= "!alarmChecked" value="false" [formControl]="alarme"
                (click)="alarmeChange($event)"   />
                <label class="form-check-label athena" for="alarmeFalse" checked>Non</label>
            </div>
        </div>
    </div>

    <div *ngIf="alarmPresence" class="form-group row select_arrows mb-0">
        <label class="col-sm-4 col-form-label athena"> Type<span class="red">*</span></label>
        <div class="col-sm-20 col-lg-9">
            <select class="form-control athena ng-pristine" formControlName = "typeController" 
            (change)='onChangeType($event)'
            [ngClass]="[typeAlarmeInvalid && alarmPresence ? 'athena form-control error  ng-pristine ng-valid ng-touched' : 'athena form-control ng-pristine ng-valid ng-touched']">
                <option [value]="null" disabled >--</option>
                <option *ngFor="let type of listInterventionRepot" [ngValue]="type"> {{type.label}}</option>    
            </select>
        </div>
    </div><br>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label athena"> Code d'accès</label>
        <div class="col-sm-20 col-lg-9">
            <input class="athena form-control ng-pristine ng-valid ng-touched" type="text" formControlName="accessCodeController" [(ngModel)]="interventionReport.codeAcces" />
        </div>
    </div>

    <div class="underline mt-4 mb-3">Qualification de l'intervention</div>
    <div class="form-group row select_arrows mb-0">
        <label class="col-sm-4 col-form-label athena"> Type d'intervention<span class="red">*</span></label>
        <div class="col-sm-20 col-lg-9">
 
            <select  class="form-control athena ng-pristine ng-invalid ng-touched" 
            formControlName="interventionTypesController" (change)='onChangeInterventionTypes($event)' 
            [ngClass]="[typeInterventionInvalid ? 'athena form-control error  ng-pristine ng-valid ng-touched' : 'athena form-control ng-pristine ng-valid ng-touched']">
       
                <option [value]="null" disabled >--</option>
                <option *ngFor="let types of listTypesIntervention"  [ngValue]="types"  > {{types.label}}</option>    
            </select>
        </div>
    </div>

    <div class="form-group row mt-3">
        <label class="col-form-label athena col-sm-4"> Coach présent lors de l'intervention<span class="red">*</span></label>

        <div class="col-sm-4">
            <div class="form-check">
                <input [ngClass]="[coachInvalid ? ' form-check-input athena error':'form-check-input athena']"
                 id="coachPresentTrue"  type="radio" value="true" [checked]= "coachPresentChecked" 
                formControlName="coachPresenceControler" (click)="coachChange($event)"/>
                <label class="form-check-label athena" for="coachPresentTrue"> Oui</label>
            </div>
            <div class="form-check">
                <input [ngClass]="[coachInvalid ? 'form-check-input athena error':'form-check-input athena']"
                 id="coachPresentFalse"  type="radio" value="false" [checked]= "!coachPresentChecked"
                 formControlName="coachPresenceControler"  (click)="coachChange($event)"/>
                <label class="form-check-label athena" for="coachPresentFalse">Non</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label athena col-sm-4"> Intervention dans le cadre d'une garantie<span class="red">*</span></label>

        <div class="col-sm-4">
            <div class="form-check">
                <input [ngClass]="[garantieInvalid ? 'form-check-input athena error':'form-check-input athena']" 
                id="garantieTrue"  type="radio" value="true" 
                [checked]= "garantieChecked" formControlName="garantieController" (click)="garantieChange($event)"/>
                <label class="form-check-label athena" for="garantieTrue"> Oui</label>
            </div>
            <div class="form-check">
                <input [ngClass]="[garantieInvalid ? 'form-check-input athena error':'form-check-input athena']" 
                 id="garantieFalse"  type="radio"  
                [checked]= "!garantieChecked" value="false" formControlName="garantieController" (click)="garantieChange($event)"/>
                <label class="form-check-label athena" for="garantieFalse" >Non</label>
            </div>
        </div>
    </div>
    <div class="form-group row inputstyle matchipstyle noborder">
        <label class="col-sm-4 col-form-label athena"> Domaine (s) d'intervention<span class="red">*</span> </label>
        <div class="col-sm-20 row mt-3">
            <div class="mb-2 col-sm-6"*ngFor="let domaine of allDomaines">
                <div class="form-check checkBoxPosition  ">                  
                    <input class="form-check-input athena"  type="checkbox" [id]="domaine?.id" [checked]="domaine.checked"  (change)="onSelect($event, domaine)" >
                    <label class="form-check-label athena" [for]="domaine?.id"  >{{domaine?.label}}</label>                          
                </div>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-4 col-form-label athena">Demande / Problème client</label>
        <div class="col-sm-20 col-lg-9">
            <textarea class="form-control athena ng-pristine ng-valid ng-touched" rows="5" formControlName="clientrequestControler" [(ngModel)]="customerNeeds" (change)="updateCustomerNeeds()"></textarea>
        </div>
    </div>
</div>
</form>
