span.abdence-date{
    color: #5a8fce;
    display: inline-block;
    margin-top: -2px !important;
}
span.title-style{
    color: #5a8fce;
    font-family: "Sofia Pro Light", Arial, sans-serif;
    font-size: 12px;
    margin-left: 5px;
}
div.roles-title{
    color:#a9a9a9;
    font-family: "Sofia Pro Light", Arial, sans-serif;
    font-size: 12px;
    text-align: center;
}
.icon-position{
    position: relative;
    top: -25px;
    left: -21px;
}
.item-style{
    width: 92% !important;
    margin: 0 auto;
}
.item-style:last-of-type{
    margin-bottom: 5px;
}

.role-name {
    white-space: normal;
    word-break: break-word;
}