.Ce-champ-dpasse-le {
    height: 22px;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: normal;
    color: hsl(354, 81%, 63%);
    }