<div class="row">
    <div class="col-24">
        <div class="block block-transparent">
            <h6 class="athena" *ngIf="!isUpdate">
                Création d'une ligne
            </h6>
            <h6 class="athena" *ngIf="isUpdate">
                Activation de la ligne
            </h6>
            <div>
                <div class="custom-stepper" *ngIf="changeStepper('required-info')">
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="round dark-blue"></div>
                            <div class="progress-bar s1-to-s2-done"></div>
                        </div>
                        <div class="mt-2 text-center">
                            <a class="athena link grey link-step1" [routerLink]="null" queryParamsHandling="merge">
                                <span class="athena">Détail de la ligne </span>
                            </a>
                        </div>
                    </div>

                    <div>
                        <div class="d-flex align-items-center">
                            <div class="round light-blue3-active"></div>
                            <div class="progress-bar inactive"></div>
                        </div>
                        <div class="mt-2 text-center">
                            <a class="athena link grey link-step2" [routerLink]="null" queryParamsHandling="merge">
                                <span class="athena black">
                                    Création compte de facturation <br />
                                    Infos nécessaires
                                </span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="round grey-round"></div>
                            <div class="hidden-bar"></div>
                        </div>
                        <div class="mt-2 text-center">
                            <a class="athena link grey link-step3" [routerLink]="null" queryParamsHandling="merge">
                                <span class="athena">
                                    Création compte de facturation <br />
                                    Coordonnées
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="custom-stepper" *ngIf="changeStepper('bill-info')">
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="round dark-blue"></div>
                            <div class="progress-bar s1-to-s2"></div>
                        </div>
                        <div class="mt-2 text-center">
                            <a class="athena link grey link-step1" [routerLink]="null" queryParamsHandling="merge">
                                <span class="athena">Détail de la ligne </span>
                            </a>
                        </div>
                    </div>

                    <div>
                        <div class="d-flex align-items-center">
                            <div class="round light-blue1"></div>
                            <div class="progress-bar s2-to-s3"></div>
                        </div>
                        <div class="mt-2 text-center col-lg-18">
                            <a class="athena link grey link-step2" [routerLink]="null" queryParamsHandling="merge">
                                <span class="athena">
                                    Création compte de facturation <br />
                                    Infos nécessaires
                                </span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="round light-blue3-active"></div>
                            <div class="hidden-bar"></div>
                        </div>
                        <div class="mt-2 text-center">
                            <a class="athena link grey link-step3" [routerLink]="null" queryParamsHandling="merge">
                                <span class="athena black">
                                    Création compte de facturation <br />
                                    Coordonnées
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="stepper" *ngIf="changeStepper('customer-peniche')">
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="round dark-blue"></div>
                            <div class="progress-bar s1-to-s2"></div>
                        </div>
                        <div class="mt-2 text-center">
                            <a class="athena link grey link-step1" [routerLink]="null" queryParamsHandling="merge">
                                <span class="athena">Détail de la ligne </span>
                            </a>
                        </div>
                    </div>

                    <div>
                        <div class="d-flex align-items-center">
                            <div class="round light-blue1"></div>
                            <div class="progress-bar"></div>
                        </div>
                        <div class="mt-2 text-center">
                            <a class="athena link grey link-step2" [routerLink]="null" queryParamsHandling="merge">
                                <span class="athena">
                                    Création compte de facturation <br />
                                    Infos nécessaires
                                </span>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="d-flex align-items-center">
                            <div class="round light-blue1"></div>
                            <div class="progress-bar s2-to-s3"></div>
                        </div>
                        <div class="mt-2 text-center">
                            <a class="athena link grey link-step3" [routerLink]="null" queryParamsHandling="merge">
                                <span class="athena">
                                    Création compte de facturation <br />
                                    Coordonnées
                                </span>
                            </a>
                        </div>
                    </div>

                    <div>
                        <div class="d-flex align-items-center">
                            <div class="round light-blue3-active"></div>
                        </div>
                        <div class="mt-2 text-center">
                            <a class="athena link grey link-step4" [routerLink]="null" queryParamsHandling="merge">
                                <span class="athena black">Création du client péniche </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
