@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import '~src/styles/charte';

@include media-breakpoint-down(sm) {

  .icon-dashbord-mobile {
      width: 118px;
      height: 118px;
  }
  
  .wrapper-icon {
      margin: 0px -40px -10px 0px;
      float: right;
      justify-content: right;
  }

  .text-title-small {
      font-size: $font-size-badge;
  }
}
