    <div class="col-md-24 col-lg-24">
        <div class="block block-shadow">
            <h2 class="athena" >Ajout d’une intéraction </h2>
            <div class="row" *ngIf="invalidForm">
                <div class="col-md-12 col-lg-12">
                    <div class="block block-alert" >
                        <table class="table table-not-bordered">
                            <tbody>
                                <tr>
                                    <td class="alert-icon align-middle" >
                                        <span class="icon icon-max status-exclamation-white"></span>
                                    </td>
                                    <td class="alert-text">
                                        <strong>Ce formulaire n’est pas correctement renseigné</strong> <br/>
                                        <div *ngIf="demandeInvalid">- Le champ demande est obligatoire </div>
                                        <div *ngIf="mediaInvalid" >- Le champ media est obligatoire</div>
                                        <div *ngIf="universInvalid" >- Le champ univers est obligatoire</div>
                                        <div *ngIf="motifInvalid" >- Le champ motif est obligatoire </div>
                                        <div *ngIf="precisionInvalid" >- Le champ précision est obligatoire</div> 
                                        <div *ngIf="destinataireInvalid" >- Le champ destinataire est obligatoire</div>
                                        <div *ngIf="participantInvalid" >- Le champ participant est obligatoire</div>
                                        <div *ngIf="interlocutorInvalid" >- Le champ Interlocuteur est obligatoire</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <form class="pt-3" [formGroup]="interactionForm" (ngSubmit)="save()">
                <div class="form-group row">
                    <label for="mediaSelect" class="col-sm-3 col-form-label">L’intéraction est-elle liée à une demande ? *</label>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="isBoundRequest" id="optionsRadios1" value="oui"
                            (change)="radioIsBoundRequestChangeHandler($event)">
                            <label class="form-check-label" for="optionsRadios1">
                            Oui
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="isBoundRequest" id="optionsRadios2" value="non" [checked]= "true"
                            (change)="radioIsBoundRequestChangeHandler($event)">
                            <label class="form-check-label" for="optionsRadios2">
                            Non
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-18 col-lg-18" *ngIf="isboundRequest">
                    <app-athena-paginated-ag-grid  
                    [defaultSortModel]="defaultSortModel" 
                    [columnDefs]="columnDefs" 
                    [rowData]="requests" 
                    (selectRow)="clickCell($event)">
                </app-athena-paginated-ag-grid>
                <mat-error *ngIf="demandeInvalid">Veuillez sélectionner une demande</mat-error>
                </div>		
                <div class="form-group row pt-4 ">
                    <label for="mediaSelect" class="col-sm-3 col-form-label">Média*</label>
                    <div class="col-sm-6">
                        <select formControlName="media"  [ngClass]="classError(mediaInvalid)" id="mediaSelect"  (change)="mediaChangeHandler()">
                            <option [ngValue]="null" disabled>--</option>
                            <option *ngFor="let media of mediaData" [ngValue]="media.id">{{media.label}}</option>
                        </select> 
                        <mat-error *ngIf="mediaInvalid" >Ce champ est obligatoire</mat-error>
                    </div>
                    <span class="icon col-sm-1 mt-1 status-exclamation" *ngIf="mediaInvalid" ></span>
                </div>
                <div class="form-group row">
                    <label for="mediaSelect" class="col-sm-3 col-form-label">Univers*</label>
                    <div class="col-sm-12 row">
                        <div class="form-check mr-5" *ngIf="isService">
                            <input class="form-check-input" type="radio" formControlName="optionsRadiosUnivers" id="optionsRadios3"
                             value="Service" [checked]="isSelectedUnivers" (change)="radioUniversChangeHandler($event)">
                            <label class="form-check-label" for="optionsRadios3">
                            Service
                            </label>
                        </div>
                        <div class="form-check mr-5" *ngIf="isMobile">
                            <input class="form-check-input" type="radio" formControlName="optionsRadiosUnivers" id="optionsRadios4" 
                            value="Mobile" [checked]="isSelectedUnivers" (change)="radioUniversChangeHandler($event)">
                            <label class="form-check-label" for="optionsRadios4">
                            Mobile
                            </label>
                        </div>
                        <div class="form-check mr-5" *ngIf="isInternet">
                            <input class="form-check-input" type="radio" formControlName="optionsRadiosUnivers" id="optionsRadios5" 
                            value="Internet" [checked]="isSelectedUnivers" (change)="radioUniversChangeHandler($event)">
                            <label class="form-check-label" for="optionsRadios5">
                            Internet
                            </label>
                        </div>
                        <div class="form-check mr-5" *ngIf="isFixe">
                            <input class="form-check-input" type="radio" formControlName="optionsRadiosUnivers" id="optionsRadios6"
                             value="Fixe" [checked]="isSelectedUnivers" (change)="radioUniversChangeHandler($event)">
                            <label class="form-check-label" for="optionsRadios6">
                            Fixe
                            </label>
                        </div>
                        <div class="form-check mr-5" *ngIf="isAutre">
                            <input class="form-check-input" type="radio" formControlName="optionsRadiosUnivers" id="optionsRadios7"
                             value="Autres" [checked]="isSelectedUnivers" (change)="radioUniversChangeHandler($event)">
                            <label class="form-check-label" for="optionsRadios7">
                            Autres
                            </label>
                        </div>

                        <span class="icon col-sm-1 mt-1 status-exclamation" *ngIf="universInvalid"></span>
                        <div><mat-error *ngIf="universInvalid">Ce champ est obligatoire</mat-error></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="motifSelect" class="col-sm-3 col-form-label">Motif*</label>
                    <div class="col-sm-6">
                        <!-- <select formControlName="motif" [ngClass]="classError(motifInvalid)" id="motifSelect">
                            <option [ngValue]="null" disabled>--</option>
                            <optgroup *ngFor="let ir of interactionReasonList" [label]="ir.label">
                                <option *ngFor="let irc of ir.children" for="selectIR" [ngValue]="irc.id">
                                    {{irc.label}}</option>
                            </optgroup>
                        </select> -->
                        <app-athena-nested-drop-down [list]="interactionReasonList" (selectionChange)="onSelectMotif($event)" [hasError]="motifInvalid"></app-athena-nested-drop-down>
                        <mat-error *ngIf="motifInvalid">Ce champ est obligatoire</mat-error>
                    </div>
                    <span class="icon col-sm-1 mt-1 status-exclamation" *ngIf="motifInvalid"></span>
                </div>
                <div class="form-group row">
                    <label for="interlocuteurSelect" class="col-sm-3 col-form-label">Interlocuteur*</label>
                    <div class="col-sm-6">
                        <select formControlName="interlocuteur" class="form-control" id="interlocuteurSelect">
                            <option [ngValue]="null" disabled>--</option>
                            <option *ngFor="let interlocutor of interlocutors" [ngValue]="interlocutor.idPerson">
                                {{interlocutor?.firstName | firstName}} {{ interlocutor?.lastName | uppercase}}
                                {{(interlocutor?.roleLabel) ? ' - '+interlocutor.roleLabel : ''}}
                            </option>
                        </select>
                        <mat-error *ngIf="interlocutorInvalid">Ce champ est obligatoire</mat-error>
                    </div>
                    <span class="icon col-sm-1 mt-1 status-exclamation" *ngIf="interlocutorInvalid"></span>
                </div>
                
                <div class="form-group row" *ngIf="isEntreprise && interactionForm.get('isBoundRequest').value === 'non'"> 
                    <label for="destinataireSelect" class="col-sm-3 col-form-label">Destinataires*</label>
                    <div class="col-sm-6">
                        <select formControlName="destinataire" [ngClass]="classError(destinataireInvalid)" id="destinataireSelect">
                            <option *ngFor="let recipient of destinataires" [ngValue]="recipient.idCustomer">
                                {{ recipient?.lastName | uppercase}}  {{recipient?.firstName | firstName}}  -  
                                <ng-template [ngIf]="recipient?.refKey==='ref_customer_person_role_type_titulaire'" [ngIfElse]="Benificiare">Titulaire</ng-template>
                                <ng-template #Benificiare>
                                    {{(recipient?.offreLabel) ? recipient.offreLabel : 'Aucune offre!'}}
                                </ng-template>
                            </option>
                        </select>
                        
                        <mat-error *ngIf="destinataireInvalid">Ce champ est obligatoire</mat-error>
                    </div>
                    <span class="icon col-sm-1 mt-1 status-exclamation" *ngIf="destinataireInvalid"></span>
                </div>
                <div class="form-group row" *ngIf="isRdv">
                    <label for="adresseSelect" class="col-sm-3 col-form-label">Adresse RDV</label>
                    <div class="col-sm-6">
                        <select formControlName="adresseId" class="form-control" id="adresseSelect">
                            <option [ngValue]="null" >--</option>
                            <option *ngFor="let rdv of adresseRdv" [ngValue]="rdv.idContactMethode">
                                {{ getFullAddress(rdv) }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="precision" class="col-sm-3 col-form-label">Précision*</label>
                    <div class="col-sm-6">
                        <input formControlName="precision" [ngClass]="classError(precisionInvalid)" id="precision" type="text"/>
                        <mat-error *ngIf="precisionInvalid">Ce champ est obligatoire</mat-error>
                    </div>
                    <span class="icon col-sm-1 mt-1 status-exclamation" *ngIf="precisionInvalid"></span>
                </div>
                <div class="form-group row">
                    <label for="start mt-1" class="col-sm-3 col-form-label">Date*</label>  
                    <mat-form-field class="col-sm-2" appearance="outline">
                        <input matInput [matDatepicker]="pickerStart" placeholder="" 
                        formControlName="dateDebut" readonly [(ngModel)]="dateDebut">
                        <mat-datepicker #pickerStart></mat-datepicker>
                    </mat-form-field>
                    <span class="icon icon-marged calendar-grey clickable margin-top" (click)="pickerStart.open()" ></span>
                    <label  class="col-form-label marged-label mt-1"> de </label>
                    <div class="col-sm-4 ">
                        <app-athena-timer [defaultHour] = "0" [defaultMinute] = "0" 
                        (selectTime)="onChangeTimeStart($event)"></app-athena-timer>
                    </div>
                    <label  class="col-form-label mt-1 marged-label"> jusqu'à </label>
                    <div class="col-sm-3 ml-1 ">
                        <app-athena-timer [defaultHour] = "hourStartDate" [defaultMinute] = "minuteStartDate"
                        (selectTime)="onChangeTimeStartJusqu($event)" 
                        [minHour]= "hourStartDate" (minHourChange)="this.hourStartDate = $event" [minMinute] = "minuteStartDate" (minMinuteChange)="this.minuteStartDate = $event"></app-athena-timer>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="participantSelect" class="col-sm-3 col-form-label">Participants*</label>
                    <div class="col-sm-6">
                        <mat-form-field class="example-chip-list " appearance="outline" id="participantSelect" >
                            <mat-chip-list #chipList >
                                <mat-chip
                                *ngFor="let user of users"
                                errorState="true"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="remove(user)">
                                {{ user | fullNameFormatter }}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                </mat-chip>
                                <input
                                placeholder=""
                                #fruitInput
                                [formControl]="fruitCtrl"
                                [matAutocomplete]="auto"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                >
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" required>
                                <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                                    {{ user | fullNameFormatter }}
                                </mat-option>
                            </mat-autocomplete>
                            </mat-form-field>
                            <mat-error *ngIf="participantInvalid">Ce champ est obligatoire</mat-error>
                    </div>
                    <span class="icon col-sm-1 mt-1 status-exclamation" *ngIf="participantInvalid"></span>
                </div>
                <div class="form-group row">
                    <label for="descriptionTextarea" class="col-sm-3 col-form-label">Description</label>
                    <div class="col-sm-6">
                        <textarea formControlName="description" class="form-control" id="descriptionTextarea" rows="3"></textarea>
                    </div>
                </div>
                <div class="row control-buttons ">
                    <div class="col-sm-3 text-right">
                        <a class="btn btn-link mt-1" [routerLink]="null" (click)="annuler(true)">Annuler</a>
                    </div>
                    <div class="col-sm-6">
                        <input class="btn btn-green" [disabled]="isValidBtn" value="Enregistrer" type="submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
