.Description
{
    color: gray;
}

.break-lines {
    overflow-x: hidden !important;
    white-space: pre-wrap !important;
}

.title-font {
    font-family: Segoe UI, sans-serif;
    font-size: 27pt;
    font-weight: bold;
}

.subtitle-font {
    font-family: Segoe UI, sans-serif;
    font-size: 14pt;
}

.body-font {
    font-family: Segoe UI, sans-serif;
}