.athena-timer {
    .ngx-timepicker {
        display: flex;
        align-items: center;
        height: fit-content !important; 
        border: 1px solid rgba(0,0,0,.12);
        width: fit-content;
        margin: 2px 0;
    }
}
