<div class="d-felx mt-2 ">
  <div class="form-group row mb-3  justify-content-center">
    <label class="mr-2 col-form-label athena">Matériel </label>
    <div class="col-sm-4">
      <input formControlName="libelleClient" type="text"  class="athena form-control" >
    </div>
    <button type="button" class="btn btn-green">Rechercher</button>
  </div>
</div>
<app-terminals-acquired></app-terminals-acquired>
<app-terminals-used></app-terminals-used>
<app-service-materials></app-service-materials>
 