<div class="row">   
    <div  class="col-24">
        <div class="block block-transparent">
            <h6 class="athena" style="margin-bottom: 0;"> {{(task?.label) ? task?.label : ((task?.name) ? task?.name : '-' ) }} </h6>
            <h5 class="grey text-center athena"> Tâche N° {{task?.id}}</h5>
        </div>
        <div class="stepper" *ngIf="toClosurRequest === false">
            <div [ngClass]="['left-icon', !toAffect ? 'creation-left-icon' : 'affectation-left-icon']">
                <div>
                    <a [routerLink]="null" queryParamsHandling="merge" [ngClass]="['left-link']">
                        <span>Clôture de la tâche </span>
                    </a>
                </div>
            </div>
             <div [ngClass]="['progress-bar', !toAffect ? 'toClotureTask' : 'toAffectTask']"></div> 
            <div [ngClass]="['right-icon', !toAffect ? 'creation-right-icon': 'affectation-right-icon']">
                <div>
                    <a [routerLink]="null" queryParamsHandling="merge" [ngClass]="['right-link']">
                        <span>Affectation des tâches</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-24 col-lg-8 order-lg-2">
        <!-- REQUEST SUMMARY  -->
        <app-task-creation-request-summary  [toNextTasks] ="toNextTasks" [detailRequest]="detailRequest" [customerId]="customerId" [requestAnswers]="requestAnswers" [processInstanceId]="processInstanceId"></app-task-creation-request-summary>     
        <app-task-summary [toNextTasks] ="toNextTasks" [task]="task" [idRequest]="detailRequest?.idRequest" [customerId]="customerId" ></app-task-summary> 
   
    </div>  

    <div class="col-md-24 col-lg-16 order-lg-1">
        <!-- FORMULAIRE -->
        <app-task-assignment-form [isNextTask] = "false"  (onToAffectChange)="onToAffectChange($event)" (onFormGroupChange)="onFormGroupChange($event)"
         (onSubmittedChange)="onSubmittedChange($event)" (onToclosurRequestChange)="onToclosurRequestChange($event)"
        (onCanceledChange)="onCanceledChange($event)" (onLoadingChange)="onLoadingChange($event)" [task]="task" [customerId]="customerId" [processInstanceId]="processInstanceId" 
        [thetisTaskId]="thetisTaskId" [idRequest] = "detailRequest?.idRequest" [attachedUserId]="detailRequest?.idPorteur" [nextIdTask] = "nextIdTask" [users] = "users" >
        </app-task-assignment-form>
    </div>
</div>
<div *ngIf="loading" class="wrapper">
    <div class="spinner">
    </div>
</div>
