<div class="modal-body mt-2 px-3 px-sm-5 block_onglet">
  <form  class="pt-3" [formGroup]="form">
    <p class="title text-left mb-5 pt-3">Ajouter un document</p>
			<div class="row" *ngIf="formNotValid">
				<div class="form-group d-block w-100 mb-3">
					<div class="block block-alert">
						<table class="table table-not-bordered"><caption class="p-0"></caption>
							<tbody>
								<tr>
									<th id="th"></th> 
									<td class="alert-icon align-middle" >
										<span class="icon icon-max status-exclamation-white mb-1"></span>
									</td>
									<td class="alert-text pb-0">
										<strong class="athena red " style="padding-left: 9px;">
											Ce formulaire n’est pas correctement renseigné
										</strong>
										<ul class="simple mr-0 mt-1 alert-padding">
											<li *ngIf="sourceNotValid">Le champ source document est obligatoire </li>
                      <li *ngIf="documentNotValid">Le champ document {{labelDocument}} est obligatoire </li>
                      <li *ngIf="typeNotValid">Le champ type de document est obligatoire </li>
                      <li *ngIf="titleNotValid">Le champ titre de document est obligatoire </li>
                      <li *ngIf="fileNotValid">Le champ fichier est obligatoire </li>
										</ul>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
      <div class="form-group row">
        <label for="docSelect" class="col-sm-8 col-form-label p-0">Source document*</label>
        <div class="col-sm-15">
          <select formControlName="doc" [ngClass]="[sourceNotValid ? 'form-control error' : 'form-control']" id="docSelect" 
            (change)="onDocumentChange($event)">
            <option value="null" disabled>--</option>
            <option value="CUSTOMER" >Document client</option>
            <option value="REQUEST" >Document de la demande</option>
            <option value="NEWDOC" >Nouveau document</option>
        </select>
        </div>
      </div>
      <div class="form-group row" *ngIf="selectedDocument !== newDoc">
        <label for="docSelect" class="col-sm-8 col-form-label p-0">Document {{labelDocument}}{{'*'}}</label>
        <div class="col-sm-15 noborder">
            <mat-form-field  [ngClass]="[documentNotValid ? 'large-chip-list error' : 'large-chip-list']" appearance="outline">
                <mat-select formControlName="document" multiple (selectionChange)="onCheckboxChagenDocument($event)">
                    <mat-option *ngIf="isNotExistDocument" value="0" disabled> Pas Document </mat-option>
                    <mat-option *ngFor="let document of documentList" [value]="document">
                        {{document?.addDate | date: 'dd/MM/yyyy'}} 
                        {{(document?.titreDocument) ? ' - '+ document.titreDocument : ''}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
      </div>
      <div *ngIf="selectedDocument === newDoc">
        <div class="form-group row">
          <label for="" class="col-sm-8 col-form-label p-0">Type de document*</label>
          <div class="col-sm-15">
              <select formControlName="documentType" 
              [ngClass]="[typeNotValid ? 'form-control col-md-24 mt-1 athena error' : 'form-control col-md-24 mt-1 athena']">
                  <option *ngFor="let type of documentsTypeList" [ngValue]="type">{{type.documentTypeName}}</option>
              </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="titreSelect" class="col-sm-8 col-form-label p-0">Titre de document*</label>
          <div class="col-sm-15">
              <select formControlName="titleDoc" [ngClass]="[titleNotValid ? 'form-control error' : 'form-control']" id="titreSelect">
                  <option [ngValue]="null" disabled>--</option>
                  <option *ngFor="let docTitle of documentsTitle" [ngValue]="docTitle">{{docTitle.documentTitle}}</option>
              </select>
          </div>
        </div>
        <div class="form-group row">
            <label for="titreSelect" class="col-sm-8 col-form-label p-0">Fichier (<10Mo)*</label>
            <div class="col-sm-15">
                <ngx-dropzone [multiple]="true" formControlName="file" [ngClass]="[fileNotValid ? 'ath-drop-zone error' : 'ath-drop-zone']" (change)="onSelect($event)">
                    <ngx-dropzone-label>Déposez des fichiers ici ou
                        cliquez pour <u class="blue "> télécharger</u>  .</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
        </div>
      </div>
			<div class="form-group row text-center mb-3 mt-4">
        <button class="btn btn-link blue mt-0"  (click)="destroyPopUpWithConfirmation()">Annuler</button>
				<button type="submit"  (click)="save()" class="btn btn-green" >Ajouter le document</button>
			</div>
  </form>
</div>
