@import '../../../../styles/charte.scss';
.catalogue_panier {
    .alert-icon {
        padding: 10px;
        @media (max-width: $sm-min){
           padding: 20px ;
            }
           }
          .alert-text {
               font-size: $font-size;
               font-family: $font-family-regular;
               padding: 15px 8px;
            } 
            .descrption_products {
               .block {
                   padding: 15px;
                   .titre {
                       font-family: $font-family-bold;
                       font-size: 15px;
                   }
               }
               .title_prix{
                   font-size: $font-size-max;
                   font-family: $font-family-bold;
               }
            }
   }