::ng-deep .ag-theme-material .ag-row-level-1 {
    border-top-style: none !important;
}

::ng-deep .ag-row-group-indent-0 {
    flex-direction: row-reverse;
}

::ng-deep  .ag-theme-material .ag-cell {
     align-items: center;
     display: flex;
}
::ng-deep  .ag-cell-wrapper.ag-row-group {
    align-items: center;
}
::ng-deep .task-completed .ag-row-level-1 {
    overflow-y: auto;
}