.nopadding {
    padding: 0 !important;
 }

 .ag-theme-material .ag-header-cell {
	white-space: normal;
	&[col-id="portail"], &[col-id="format"]{
		.ag-header-cell-label {
			text-align: center !important;
			align-items: center;
			justify-content: center;
		}
    }
}