@import '~src/styles/charte'; 
.fileDropProfile { 
    min-height: auto !important; 
    border: 1px dashed #dadada; 
    border-radius: 0px; 
    font-family: $font-family-regular; 
    font-size: $font-size-text; 
    color:$black; 
    .fileinter { 
        min-width: 286px !important 
    } 
} 

.maxProfilePicture {
    width: 100px;
    height: 100px;
    }
