
<form formGroupName="technicianInformation" > 
    <div class="form-group row">
        <label class="col-sm-4 col-form-label athena">Description 
            <span class="red">*</span>
        </label>
        <div class="col-sm-20 col-lg-9">
            <textarea class="form-control athena" autosize rows="6" formControlName="technicianComment"
                [(ngModel)]="interventionReport.interventionDetail[0].comment" 
                [ngClass]="[(technicianCommentInvalid) ? 'error ' : '']" maxlength="3000">
            </textarea>
            <span class="form-text text-min text-muted">Limite de 3000 caractères sur le champ Description</span>
        </div>
    </div>
</form>
    