<div class="underline mt-3 mb-2">Wi-fi</div>
<form [formGroup]="form">
    <div class="form-group row select_arrows">
        <label class="col-form-label athena col-sm-4"> Livebox Wi-fi activé </label>

        <div class="col-sm-4">
            <div class="form-check">
                <input class="form-check-input athena" id="isLivebox" name="isLivebox" type="radio" [value]="true" formControlName="isLivebox" />
                <label class="form-check-label athena" for="isLivebox"> Oui </label>
            </div>
            <div class="form-check">
                <input class="form-check-input athena" id="isNotLivebox" name="isLivebox" type="radio" [value]="false" formControlName="isLivebox"/>
                <label class="form-check-label athena" for="isNotLivebox"> Non</label>
            </div>
        </div>
    </div>

    <ng-container *ngIf="showSSIDAndPasswordFields">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label athena">SSID 
                <span *ngIf="isRequired" class="red">*</span>
            </label>
            <div class="col-sm-20 col-lg-9">
                <input class="athena form-control ng-pristine ng-valid ng-touched" type="text" formControlName="ssidLivebox" name="ssidLivebox" [(ngModel)]="interventionWifi.ssidLivebox"
                [ngClass]="[showSSIDAndPasswordFields && ssidLiveboxInvalid ? 'athena form-control error  ng-pristine ng-valid ng-touched' : 'athena form-control ng-pristine ng-valid ng-touched']"
                />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form-label athena">Mot de passe 
                <span *ngIf="isRequired" class="red">*</span>
            </label>
            <div class="col-sm-20 col-lg-9">
                <input class="athena form-control ng-pristine ng-valid ng-touched" type="text" formControlName="passwordLivebox" name="passwordLivebox" [(ngModel)]="interventionWifi.passwordLivebox"
                [ngClass]="[showSSIDAndPasswordFields && passwordLiveboxInvalid ? 'athena form-control error  ng-pristine ng-valid ng-touched' : 'athena form-control ng-pristine ng-valid ng-touched']"
                />
            </div>
        </div>
    </ng-container>
    

    <div class="form-group row">
        <label class="col-sm-4 col-form-label athena">Commentaire </label>
        <div class="col-sm-20 col-lg-9">
            <textarea maxlength="255" class="form-control athena ng-pristine ng-valid ng-touched" rows="6" formControlName="comment" [(ngModel)]="interventionWifi.comment"></textarea>
            <span class="form-text text-min text-muted">Limite de 255 caractères sur le champ commentaire</span>
        </div>
    </div>
</form>
<app-access-points 
    *ngFor="let interventionWifiAccessPoint of interventionWifiAccessPoints; let i=index"
    [index]="i+1"
    [interventionWifiAccessPoint]="interventionWifiAccessPoint"
    [locationWifiTypes]="locationWifiTypes"
    [wifiConnectionTypes]="wifiConnectionTypes"
    [isManadatoryFields]="isManadatoryFields"
    [isVisibleWifiBlock]="isVisibleWifiBlock"
    [tabchangedOrSave]="tabchangedOrSave"
    [interventionWifiAccessPointsLength]="interventionWifiAccessPoints.length"
    [locationTypes]="locationTypes"
    (onAddLocation)="onAddLocationEvent($event)"
    (onRemoveLocation)="onRemoveLocationEvent($event)"
    (onRemoveAccessPoint)="onRemoveAccessPointEvent($event)"
    [allowedToModifyTechnicalInformationTab]="allowedToModifyTechnicalInformationTab"
></app-access-points>

<div class="mt-3">
    <a class="athena font-weight-bold" href="#" (click)="addPointAccess($event)" [class.disabled]="!allowedToModifyTechnicalInformationTab"><span class="icon add d-inline-block mr-2 athena"> </span>Ajouter un point d'accès </a>
</div>